body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
}

header {
  background-color: #ffce00;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin: 0;
  color: #000;
}

main {
  margin-top: 20px;
}

h2 {
  color: #e60000;
}

ul, ol {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  margin-top: 40px;
  text-align: center;
  padding: 10px;
  background-color: #dcdcdc;
  font-weight: bold;
  border-radius: 8px;
}